#TcHmiMainRegion {
    height: calc(100% - 100px);
}

.analog-discs-grid-container {
    display: grid;
    grid-template-columns: repeat(var(--col), 1fr);
    grid-template-rows: repeat(var(--row), 1fr);
}

.analog-discs-grid-item {
    margin: 5px;
    cursor: pointer;
    background-color: #000000;
    background-size: cover;
    border: 1px solid #000000;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 5px 0px;
}

/*forbidden status*/
.analog-discs-grid-item[status="0"] {
    background-image: url(Images/background_red_active.svg);
}

/*normal status*/
.analog-discs-grid-item[status="1"] {
    background: linear-gradient(135deg, #35333d, #141415);
}

/*process status*/
.analog-discs-grid-item[status="2"] {
    background-image: url(Images/background_yellow_active.svg);
}

/*normal done*/
.analog-discs-grid-item[status="3"] {
    background-image: url(Images/background_green_active.svg);
}

#TcHmiTabNavigation_MainRecipe {
    height: calc(100% - 140px);
    width: calc(100% - 60px);
}

#TcHmiTabNavigation_MainRecipe tchmi-content-tabs tchmi-tab-links tchmi-tab-link {
    height: 50px;
}

#TcHmiTabNavigation_MainRecipe tchmi-content-tabs tchmi-tab-links tchmi-tab-link[active] {
    border-left: 2px solid #1960a3;
}