@import url("styles/jquery.toast.css");

#BottomNavRegion .tchmi-button-template-content-text {
    color: #4089cb;
}

#BottomNavRegion .down .tchmi-button-template-content-text {
    font-weight: bold;

}
/*
#BottomNavRegion .down::after {
    content: ""; 
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #4476c0;
}
 */

svg {
}

#TcHmiMainRegion {
    height: calc(100% - 100px);
}

#TcHmiJogRegion {
    height: calc(100% - 80px);
    width: calc(100% - 60px);
}

#TcHmiEventGrid {
    height: calc(100% - 90px);
    width: calc(100% - 60px);
}


.analog-discs-grid-container {
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid rgba(0, 0, 0, 0.1);
}

.analog-discs-grid-item {
    margin: 0px;
    cursor: pointer;
    background-color: #000000;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 5px 0px;
}

/*forbidden status*/
    .analog-discs-grid-item[status="0"] {
        /*background-image: url(Images/background_red_active.svg);*/
        background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6));
    }

/*normal status*/
.analog-discs-grid-item[status="1"] {
    background-image: linear-gradient(135deg, #35333d, #141415);
}

/*process status*/
.analog-discs-grid-item[status="2"] {
    /* background-image: url(Images/background_yellow_active.svg); */
    background-image: linear-gradient(135deg, #e0a500, #d08500);
}

/*normal done*/
.analog-discs-grid-item[status="3"] {
    /*background-image: url(Images/background_green_active.svg);*/
    background-image: linear-gradient(135deg, #00a000, #009000);
}

/*error status*/
.analog-discs-grid-item[status="5"] {
    /*background-image: url(Images/background_red_active.svg);*/
    background-image: linear-gradient(135deg, #aa0000, #FF0000);
}

tchmi-content-tabs tchmi-tab-links {
    align-items: flex-start;
    justify-content: flex-start;
}

tchmi-content-tabs tchmi-tab-links tchmi-tab-link {
    width: 200px;
}

tchmi-content-tabs tchmi-tab-links > tchmi-tab-link:not([disabled])[active] {
    border-bottom: 2px solid;
    border-bottom-color: #4089cb;
}

/* keep camera image ratio */
img.tchmi-image-template-content {
    object-fit: contain;
}

/* vertical tab*/
.tchmi-class-myVerticalTab {
    width: calc(100% - 60px);
    /*height: calc(100% - 145px);*/
}

.tchmi-class-myTabHeight1 {
    height: calc(100% - 145px);
}

.tchmi-class-myTabHeight2 {
    height: calc(100% - 95px);
}

.tchmi-class-myVerticalTab tchmi-content-tabs tchmi-tab-links tchmi-tab-link {
    height: 50px;
}

.tchmi-class-myVerticalTab tchmi-content-tabs tchmi-tab-links tchmi-tab-link[active] {
    border-left: 2px solid #1960a3 !important;
}

/* start stop button */
#TcHmiButton_stop {
    background: linear-gradient(135deg, #aa0000, #FF0000) !important;
}

#TcHmiButton_start {
    background: linear-gradient(135deg, #00a000, #009000) !important;
}
