@import url("styles/jquery.toast.css");

#TcHmiMainRegion {
    height: calc(100% - 100px);
}

.analog-discs-grid-container {
    display: grid;
    grid-template-columns: repeat(var(--col), 1fr);
    grid-template-rows: repeat(var(--row), 1fr);
}

.analog-discs-grid-item {
    margin: 5px;
    cursor: pointer;
    background-color: #000000;
    background-size: cover;
    border: 1px solid #000000;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 5px 0px;
}

/*forbidden status*/
.analog-discs-grid-item[status="0"] {
    background-image: url(Images/background_red_active.svg);
}

/*normal status*/
.analog-discs-grid-item[status="1"] {
    background: linear-gradient(135deg, #35333d, #141415);
}

/*process status*/
.analog-discs-grid-item[status="2"] {
    background-image: url(Images/background_yellow_active.svg);
}

/*normal done*/
.analog-discs-grid-item[status="3"] {
    background-image: url(Images/background_green_active.svg);
}

tchmi-content-tabs tchmi-tab-links {
    align-items: flex-start;
    justify-content: flex-start;
}

tchmi-content-tabs tchmi-tab-links tchmi-tab-link {
    width: 200px;
}

tchmi-content-tabs tchmi-tab-links > tchmi-tab-link:not([disabled])[active] {
    border-bottom: 2px solid;
    border-bottom-color: #4089cb;
}

/* keep camera image ratio */
img.tchmi-image-template-content {
    object-fit: contain;
}

/* vertical tab*/
.tchmi-class-myVerticalTab {
    width: calc(100% - 60px);
    /*height: calc(100% - 145px);*/
}

.tchmi-class-myTabHeight1 {
    height: calc(100% - 145px);
}

.tchmi-class-myTabHeight2 {
    height: calc(100% - 95px);
}

.tchmi-class-myVerticalTab tchmi-content-tabs tchmi-tab-links tchmi-tab-link {
    height: 50px;
}

.tchmi-class-myVerticalTab tchmi-content-tabs tchmi-tab-links tchmi-tab-link[active] {
    border-left: 2px solid #1960a3 !important;
}

/*main recipe tab
#TcHmiTabNavigation_MainRecipe {
    height: calc(100% - 145px);
    width: calc(100% - 60px);
}*/
/*power recipe tab
#TcHmiTabNavigation_PowerRecipe {
    height: calc(100% - 155px);
    width: calc(100% - 60px);
}
*/